* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f7d69c1f;

  .fa-shopping-cart {
    font-size: 2rem;
    color: #5e454b;
  }

  li {
    list-style: none;

    // overflow: hidden;
    // padding: 20px;
    // border-right: 1px solid #aaa;
    a {
      color: #5e454b;
    }
  }
}

.hero {
  height: 100vh;
  background-image: url(/app/assets/coffee.beans.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  position: relative;

  .slogan {
    color: #f7d59c;
    font-size: 2rem;
  }

  #shop {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    border: 3px solid #f7d59c;
    color: #f7d59c;
    border-radius: 10px;
    width: 40%;
    height: 50px;
    position: absolute;
    top: 75%;
    cursor: pointer;

    &:hover {
      background-color: #f7d59c;
      color: #5e454b;
    }
  }
}

/** USP USP USP USP USP **/

.usp-wrapper {
  box-sizing: border-box;
  // margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2% 2%;

  .usp-box {
    width: 97%;
    background-color: rgb(206, 229, 208);

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 3%;

    align-items: center;
    justify-content: center;

    border-radius: 5px;
    box-shadow: 1px -1px 5px gray;
    font-family: "Crimson Text", serif;
    font-size: 1.2rem;

    p {
      line-height: 30px;
      margin-bottom: 0px;
      text-align: center;
    }
  }
}

/** USP USP USP USP USP **/

/** PRODUKTER PRODUKTER PRODUKTER **/

h3.h3 {
  text-align: center;
  margin: 1em;
  font-size: 1.7em;
}

i {
  font-size: 1.3em;
  margin-right: 2%;
}

.product-grid {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 30px;
}

.product-grid .product-image {
  position: relative;
}

.product-grid .product-image img {
  width: 100%;
}

.product-grid li a {
  color: #fff;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: relative;
}

.product-grid li a:hover {
  color: #fff;
  background-color: #ef5777;
}

.product-grid .product-content {
  background-color: #fff;
  text-align: center;
}

.product-grid .title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.product-grid .title a {
  color: #828282;
}

.product-grid a:hover {
  color: #ef5777;
}

.product-grid .price {
  color: #333;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
  text-align: center;
}
.product-grid .add-to-cart {
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

/** PRODUKTER PRODUKTER PRODUKTER **/

/** PRODUKTSIDA PRODUKTSIDA PRODUKTSIDA **/

// product-grid {
// }

.product-image .pic-info {
  width: 30%;
}

p {
  font-size: 0.9em;
  padding: 20px;
}

/** PRODUKTSIDA PRODUKTSIDA PRODUKTSIDA **/

/** FOOTER FOOTER FOOTER **/

.footer-con {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #f7d69c1f;

  .address-con,
  .contact-con,
  .some-con {
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    margin: 10px;

    h3 {
      width: 100%;
      text-align: center;
    }

    h3,
    p,
    a,
    .fab {
      font-size: 1.5rem;
      color: #5e454b;
    }

    h3 {
      color: #f7d59c;
    }

    p,
    a,
    .fab {
      color: #5e454b;
    }
    .fab {
      text-align: start;
      margin-right: 10px;
    }
  }
  .b-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

/** FOOTER FOOTER FOOTER **/

/** QUERIES FÖR 768 PX **/

@media screen and (min-width: 768px) {
  .usp-wrapper {
    flex-direction: row;
  }
  .usp-box {
    width: 33%;
  }
}

/** QUERIES FÖR 1024 PX **/

@media screen and (min-width: 1024px) {
  /*----NAV-DESKTOP----*/

  .logo {
    width: 400px;
    height: 70px;
    order: -2;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    order: -1;

    li {
      font-size: 1.5rem;

      a:hover {
        border-bottom: 3px solid #cee5d0;
      }
    }
  }

  /** QUERIES FÖR 1024 PX **/

  /** HERO DESKTOP HERO DESKTOP **/

  .slogan {
    font-size: 4rem !important;
  }
  #shop {
    width: 20% !important;
  }
  #products {
    .prod-card {
      flex: 1 26%;
    }

    .prod-card-wrapper {
      flex: 1 26%;
    }
  }

  .footer-con {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    .address-con,
    .contact-con,
    .some-con {
      justify-content: center;
      padding: 20px;
    }
    .b-footer {
      margin-bottom: 20px;
    }
  }
}

/** HERO DESKTOP HERO DESKTOP **/
