@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");

html,
body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-size: 12pt;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.header {
	box-shadow: 1px 1px 2px grey;
	grid-area: 50px;

	.navbar {
		width: 100% !important;
	}

	.nav-link {
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.cart-mobile {
	color: rgba(0, 0, 0, 0.5);
	font-size: 1rem;
}

.cart-mobile:hover {
	color: rgba(0, 0, 0, 0.7);
}

.hero {
	height: 100vh;
	background-image: url(../assets/coffee.beans.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;

	.slogan {
		color: whitesmoke;
		font-size: 1.3rem;
		text-align: center;
		padding: 50px;
		letter-spacing: 2px;
		line-height: 35px;
		// background-color: rgba(129, 126, 112, 0.6);
	}

	.btn-shop {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50vh;
		text-decoration: none;
		position: absolute;
		top: 60%;
	}

	#shop {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px;
		border: 3px solid whitesmoke;
		color: whitesmoke;
		border-radius: 10px;
		cursor: pointer;
		font-size: 1.5rem;
		letter-spacing: 2px;

		&:hover {
			background-color: #f7d59c;
			border: 3px solid #f7d59c;
			color: #5e454b;
			transition: 0.2s ease-in;
		}
	}
}

/** OM OSS - OM OSS - OM OSS **/

.about-us {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.text-about-us-con {
		font-size: 1.3rem;
		display: flex;
		justify-content: center;
		padding: 30px;
		margin-left: 20px;
		color: #5e454b;
	}
	.text-about-us {
		border-left: 4px solid #cee5d0;
		padding-left: 20px;
	}

	.img-about-us {
		display: flex;
		align-items: flex-start;
	}

	.img-about-us > img {
		margin-top: 50px;
		margin-left: 10px;
	}
	.img-beans {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		position: relative;
	}
}

#shop-om-oss {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border: 3px solid #f7d59c;
	color: #f7d59c;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.5rem;
	letter-spacing: 2px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	cursor: pointer;

	&:hover {
		background-color: #f7d59c;
		color: #5e454b;
	}
}

/** OM OSS - OM OSS - OM OSS **/

/** USP USP USP USP USP **/

.usp-wrapper {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 2% 2%;

	.usp-box {
		width: 97%;
		background-color: rgb(206, 229, 208);
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 3%;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		box-shadow: 1px -1px 5px gray;
		font-size: 1rem;

		p {
			line-height: 22px;
			margin-bottom: 0px;
			text-align: center;
		}
	}
}

/** USP USP USP USP USP **/

/** PRODUKTER - PRODUKTER - PRODUKTER **/

#products {
	.mybtn {
		margin-bottom: 15px;
	}

	h3.h3 {
		text-align: center;
		margin: 1em;
		font-size: 1.3rem;
	}

	.product-grid {
		text-align: center;
		padding: 0 0 30px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		position: relative;
		margin-bottom: 30px;
	}

	.product-grid .product-image {
		position: relative;
	}

	.product-grid .product-image img {
		width: 100%;
	}

	.product-grid li a {
		color: #fff;
		background-color: #333;
		font-size: 1.2rem;
		line-height: 40px;
		text-align: center;
		display: block;
		position: relative;
	}

	.product-grid .product-content {
		background-color: #fff;
		text-align: center;
	}

	.product-grid .title {
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 0.5px;
	}

	.product-grid .title a {
		color: #828282;
	}

	.product-grid .price {
		color: #333;
		font-size: 1.1rem;
		font-weight: 700;
		letter-spacing: 0.6px;
		margin-bottom: 8px;
		text-align: center;
	}

	.product-grid {
		color: #000;
		font-size: 0.9rem;
		font-weight: 600;
	}
}

/** PRODUKTER PRODUKTER PRODUKTER **/

/** PRODUKTSIDA PRODUKTSIDA PRODUKTSIDA **/

.fa-arrow-alt-circle-left,
a.arrow {
	color: grey;
	font-size: 1.2em;
	margin-left: 5px;
	margin-top: 20px;
	position: relative;
}

h4.h4-info {
	text-align: left;
	margin-top: 30px;
	padding: 10px;
	margin-bottom: 2px;
	margin-top: 10px;
}

p.prod-info {
	text-align: left;
	font-size: 0.9em;
	padding: 10px;
	margin-bottom: 10px;
	line-height: 1.5em;
}

.products-grid-info {
	font-family: Raleway, sans-serif;
	text-align: center;
	padding: 0 0 20px;
	position: relative;
	margin: 30px;
}

.pic-info {
	width: 25%;
}

/** PRODUKTSIDA PRODUKTSIDA PRODUKTSIDA **/

/** FOOTER FOOTER FOOTER **/

.footer-con {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	background-color: #f7d69c1f;
	padding: 20px;

	.address-con,
	.contact-con,
	.some-con {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: left;
		text-align: center;
		line-height: 25px;
		margin: 20px;

		h3 {
			width: 100%;
			text-align: center;
		}

		h3,
		p,
		a,
		.fab {
			font-size: 0.8rem;
			color: #5e454b;
		}

		h3 {
			color: #f7d59c;
		}

		p,
		a,
		.fab {
			color: #5e454b;
		}
		.fab {
			text-align: start;
			margin-right: 10px;
		}
	}
	.b-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		font-size: 0.8rem;
	}
}

/** FOOTER FOOTER FOOTER **/

/** CHECKOUT CHECKOUT CHECKOUT **/

.check-cart {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

/** CHECKOUT CHECKOUT CHECKOUT **/

/** CONFIRMATION CONFIRMATION **/

.check-icon {
	margin-top: 50px;
}

.table,
.cartconfirm {
	font-size: 1rem;
}

.cartconfirm {
	color: black;
}

.fas-conf-cart {
	color: black;
}

.container-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

.order-box {
	display: flex;
	flex-direction: column;
	width: 90%;
	border-radius: 5px;
	gap: 10px;
	padding: 50px 50px;
	background-color: rgb(206, 229, 208);
	font-size: 1rem;
}

h3.h3-rubrik {
	text-align: center;
}

.wrap-order {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	gap: 40px;
}

.wrap-order-img {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
}

.order-pic {
	width: 40%;
	object-fit: cover;
}

/** CONFIRMATION CONFIRMATION **/

/** QUERIES FÖR 768 PX **/

@media screen and (min-width: 768px) {
	.usp-wrapper {
		flex-direction: row;
	}
	.usp-box {
		width: 33%;
	}
	.wrap-order {
		flex-direction: row;
		justify-content: center;
		gap: 10px;
		width: 80%;
	}
	.wrap-order-img {
		width: 33%;
	}

	.slogan {
		font-size: 1.5rem !important;
		width: 50%;
	}

	.logo {
		width: 300px;
		height: 50px;
	}

	.cart-mobile {
		font-size: 1.7rem;
	}

	.img-about-us > img {
		width: 450px;
		height: 200px;
	}
}

/** QUERIES FÖR 768 PX **/

/** QUERIES FÖR 992 PX **/

@media screen and (min-width: 992px) {
	.collapse {
		order: -1;
	}

	.logo {
		order: -1;
		margin-left: 5px;
	}

	ul.mynav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		order: -1;
		gap: 20px;

		li {
			font-size: 1.3rem;
		}
	}

	.nav-link {
		font-size: 1rem;
	}
}

/** QUERIES FÖR 992 PX **/

/** QUERIES FÖR 1015 PX **/

@media screen and (min-width: 1015px) {
	.collapse {
		order: -1;
	}

	.logo {
		order: -1;
	}

	ul.mynav {
		display: flex;
		flex-direction: row;
		order: -1;

		li {
			font-size: 1.3rem;
		}
	}

	.navbar {
		width: 100%;
	}

	.text-about-us {
		display: flex;
		justify-content: center;
		width: 50%;
		padding: 30px;
		margin-left: 20px;
		margin-top: -50px;
		color: #5e454b;
		border-left: 4px solid #cee5d0;

		text-align: start;
	}

	.img-about-us > img {
		margin-top: 50px;
		margin-left: 10px;
	}

	.img-beans {
		display: flex;
		justify-content: flex-end;
	}

	.slogan {
		font-size: 1.5rem !important;
	}
	#shop-om-oss,
	#shop {
		font-size: 1.5rem;
		padding: 5px;
	}
	#products {
		.prod-card {
			flex: 1 26%;
		}

		.prod-card-wrapper {
			flex: 1 26%;
		}
	}

	.footer-con {
		width: 100%;
		height: 300px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;

		.address-con,
		.contact-con,
		.some-con {
			justify-content: center;
			margin: auto;
			width: 25%;
		}
	}
}

/** QUERIES FÖR 1015 PX **/
