@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");
html,
body {
  font-size: 12pt;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.header {
  box-shadow: 1px 1px 2px grey; }

.cart-mobile {
  color: #cee5d0;
  font-size: 2rem;
  margin-right: 30px; }

.hero {
  height: 100vh;
  background-image: url(../assets/coffee.beans.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative; }
  .hero .slogan {
    color: #f7d59c;
    font-size: 2.5rem; }
  .hero #shop {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    border: 3px solid #f7d59c;
    color: #f7d59c;
    border-radius: 10px;
    width: 40%;
    height: 50px;
    position: absolute;
    top: 75%;
    cursor: pointer; }
    .hero #shop:hover {
      background-color: #f7d59c;
      color: #5e454b;
      transition: 0.2s ease-in; }

/*----OM OSS----*/
.about-us {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .about-us .text-about-us-con {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-left: 20px;
    color: #5e454b; }
  .about-us .text-about-us {
    border-left: 4px solid #cee5d0;
    padding-left: 20px; }
  .about-us .img-about-us {
    display: flex;
    align-items: flex-start; }
  .about-us .img-about-us > img {
    margin-top: 50px;
    margin-left: 10px; }
  .about-us .img-beans {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative; }

#shop-om-oss {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  border: 3px solid #f7d59c;
  color: #f7d59c;
  border-radius: 10px;
  width: 40%;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer; }
  #shop-om-oss:hover {
    background-color: #f7d59c;
    color: #5e454b; }

/** USP USP USP USP USP **/
.usp-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2% 2%; }
  .usp-wrapper .usp-box {
    width: 97%;
    background-color: #cee5d0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 3%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px -1px 5px gray;
    font-size: 1.2rem; }
    .usp-wrapper .usp-box p {
      line-height: 30px;
      margin-bottom: 0px;
      text-align: center; }

/** USP USP USP USP USP **/
/** PRODUKTER PRODUKTER PRODUKTER **/
h3.h3 {
  text-align: center;
  margin: 1em;
  font-size: 1.3rem; }

i {
  font-size: 1.3rem;
  margin-right: 2%; }

.product-grid {
  text-align: center;
  padding: 0 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 30px; }

.product-grid .product-image {
  position: relative; }

.product-grid .product-image img {
  width: 100%; }

.product-grid li a {
  color: #fff;
  background-color: #333;
  font-size: 1.2rem;
  line-height: 40px;
  text-align: center;
  display: block;
  position: relative; }

.product-grid .product-content {
  background-color: #fff;
  text-align: center; }

.product-grid .title {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.5px; }

.product-grid .title a {
  color: #828282; }

.product-grid .price {
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
  text-align: center; }

.product-grid {
  color: #000;
  font-size: 0.9rem;
  font-weight: 600; }

/** PRODUKTER PRODUKTER PRODUKTER **/
/** PRODUKTSIDA PRODUKTSIDA PRODUKTSIDA **/
.fa-arrow-alt-circle-left,
a.arrow {
  color: grey;
  font-size: 1.2em;
  margin: 20px;
  position: relative; }

h3.h3-info {
  text-align: left;
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 2px; }

p.prod-info {
  text-align: left;
  font-size: 0.9em;
  padding: 10px;
  margin: 1px;
  line-height: 1.5em; }

.products-grid-info {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0 0 20px;
  position: relative;
  margin: 30px; }

.btn {
  margin: 10px; }

.pic-info {
  width: 25%; }

/** PRODUKTSIDA PRODUKTSIDA PRODUKTSIDA **/
/** FOOTER FOOTER FOOTER **/
.footer-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #f7d69c1f; }
  .footer-con .address-con,
  .footer-con .contact-con,
  .footer-con .some-con {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 25px;
    margin: 10px;
    border: 1px solid red; }
    .footer-con .address-con h3,
    .footer-con .contact-con h3,
    .footer-con .some-con h3 {
      width: 100%;
      text-align: center; }
    .footer-con .address-con h3,
    .footer-con .address-con p,
    .footer-con .address-con a,
    .footer-con .address-con .fab,
    .footer-con .contact-con h3,
    .footer-con .contact-con p,
    .footer-con .contact-con a,
    .footer-con .contact-con .fab,
    .footer-con .some-con h3,
    .footer-con .some-con p,
    .footer-con .some-con a,
    .footer-con .some-con .fab {
      font-size: 1.5rem;
      color: #5e454b; }
    .footer-con .address-con h3,
    .footer-con .contact-con h3,
    .footer-con .some-con h3 {
      color: #f7d59c; }
    .footer-con .address-con p,
    .footer-con .address-con a,
    .footer-con .address-con .fab,
    .footer-con .contact-con p,
    .footer-con .contact-con a,
    .footer-con .contact-con .fab,
    .footer-con .some-con p,
    .footer-con .some-con a,
    .footer-con .some-con .fab {
      color: #5e454b; }
    .footer-con .address-con .fab,
    .footer-con .contact-con .fab,
    .footer-con .some-con .fab {
      text-align: start;
      margin-right: 10px; }
  .footer-con .b-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid red; }

/** FOOTER FOOTER FOOTER **/
/** CONFIRMATION CONFIRMATION **/
.check-icon {
  margin-top: 10px; }

.table,
.cartconfirm {
  font-size: 1.4rem; }

.cartconfirm {
  color: black; }

.fas-conf-cart {
  color: black; }

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  border: 1px solid red; }

.order-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 5px;
  gap: 10px;
  padding: 50px 50px;
  background-color: #cee5d0;
  font-size: 1.2rem; }

h3.h3-confirm {
  text-align: center; }

.wrap-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 1px solid orange; }

.wrap-order-img {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  border: 1px solid yellow; }

.order-pic {
  width: 40%;
  object-fit: contain; }

/** CONFIRMATION CONFIRMATION **/
/** QUERIES FÖR 768 PX **/
@media screen and (min-width: 768px) {
  .usp-wrapper {
    flex-direction: row; }
  .usp-box {
    width: 33%; }
  .wrap-order {
    flex-direction: row;
    justify-content: center;
    gap: 40px; }
  .wrap-order-img {
    width: 33%; } }

/** QUERIES FÖR 1015 PX **/
@media screen and (min-width: 1015px) {
  /*----NAV-DESKTOP----*/
  .collapse {
    order: -1; }
  .fa-shopping-cart {
    margin-right: 100px; }
  .logo {
    order: -1; }
  ul {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    gap: 50px;
    order: -1; }
    ul li {
      font-size: 1.3rem; }
      ul li a:hover {
        border-bottom: 3px solid #cee5d0; }
  .navbar {
    width: 100%; }
  .text-about-us {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 30px;
    margin-left: 20px;
    margin-top: -50px;
    color: #5e454b;
    border-left: 4px solid #cee5d0;
    text-align: start; }
  .img-about-us > img {
    margin-top: 50px;
    margin-left: 10px; }
  .img-beans {
    display: flex;
    justify-content: flex-end; }
  /** QUERIES FÖR 1015 PX **/
  /** HERO DESKTOP HERO DESKTOP **/
  .slogan {
    font-size: 4rem !important; }
  #shop-om-oss,
  #shop {
    width: 20% !important; }
  #products .prod-card {
    flex: 1 26%; }
  #products .prod-card-wrapper {
    flex: 1 26%; }
  .footer-con {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .footer-con .address-con,
    .footer-con .contact-con,
    .footer-con .some-con {
      justify-content: center;
      margin: auto;
      width: 25%; }
  /** HERO DESKTOP HERO DESKTOP **/ }
