@charset "UTF-8";
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

a {
  text-decoration: none; }

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f7d69c1f; }
  .nav .fa-shopping-cart {
    font-size: 2rem;
    color: #5e454b; }
  .nav li {
    list-style: none; }
    .nav li a {
      color: #5e454b; }

.hero {
  height: 100vh;
  background-image: url(/app/assets/coffee.beans.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  position: relative; }
  .hero .slogan {
    color: #f7d59c;
    font-size: 2rem; }
  .hero #shop {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    border: 3px solid #f7d59c;
    color: #f7d59c;
    border-radius: 10px;
    width: 40%;
    height: 50px;
    position: absolute;
    top: 75%;
    cursor: pointer; }
    .hero #shop:hover {
      background-color: #f7d59c;
      color: #5e454b; }

.usp-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2% 2%; }
  .usp-wrapper .usp-box {
    width: 97%;
    background-color: #cee5d0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 3%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px -1px 5px gray;
    font-family: "Crimson Text", serif;
    font-size: 1.2rem; }
    .usp-wrapper .usp-box p {
      line-height: 30px;
      margin-bottom: 0px;
      text-align: center; }

#products {
  display: flex;
  flex-wrap: column-wrap;
  justify-content: center; }
  #products .prod-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
    flex: 1 29%;
    background-color: #ffe9d1;
    border: 1px solid red;
    gap: 50px; }
  #products .prod-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2%;
    flex: 1 29%;
    text-align: center;
    align-items: center;
    border: 1px solid red; }
  #products .prod-image img {
    max-width: 80%; }
  #products .prod-info {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 70%;
    background-color: #fff;
    justify-content: space-around;
    align-items: center; }
  #products i {
    margin-left: 5%; }
  #products a {
    color: #404040; }
  #products .fas {
    font-size: 1.4em;
    margin-left: 10%; }

/** QUERIES FÖR USP **/
@media screen and (min-width: 768px) {
  .usp-wrapper {
    flex-direction: row; }
  .usp-box {
    width: 33%; } }

/** QUERIES FÖR PRODUKTER **/
@media screen and (min-width: 768px) {
  .prod-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
    flex: 1 46%;
    background-color: #ffe9d1; }
  .prod-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2%;
    flex: 1 29%;
    text-align: center;
    align-items: center;
    border: 1px solid red; }
  .prod-image img {
    max-width: 80%; }
  .prod-info {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 70%;
    background-color: #fff;
    justify-content: space-around;
    align-items: center; } }

.footer-wrapper {
  border: 1px solid black;
  width: 50px;
  height: 50px; }

@media screen and (min-width: 1024px) {
  /*----NAV-DESKTOP----*/
  .logo {
    width: 400px;
    height: 70px;
    order: -2; }
  ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    order: -1; }
    ul li {
      font-size: 1.5rem; }
      ul li a:hover {
        border-bottom: 3px solid #cee5d0; }
  /*----HERO-DESKTOP----*/
  .slogan {
    font-size: 4rem !important; }
  #shop {
    width: 20% !important; } }
